* {
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: 'leonardo';
  src: url('Leonardo.ttf');
}

.homeButton {
  position: fixed;
  display: flex;
  margin-top: -25vh;
  margin-left: 10vw;
}
#treeContainer {
  margin-bottom: 40vh;
}
#treeTextContainer{
  width: 25vw;
  margin-left:60vw;
  margin-top: -60vh;
}
#treeHeader {
  font-family: 'leonardo';
  font-size: 3vw;
}
#treeLanguage {
  font-family: sans-serif;
  font-size: 1.5vw;
}
#treeBody {
  font-family: sans-serif;
  font-size: 1.5vw;
}

#moonContainer {
  margin-bottom: 20vh;
}
#moonScript {
  display: flex;
  margin-left: 65vw;
}
#moonTextContainer {
  width: 35vw;
  margin-left:25vw;
  margin-top: -50vh;
}
#moonHeader {
  font-family: 'leonardo';
  font-size: 3vw;
}
#moonLanguage {
  font-family: sans-serif;
  font-size: 1.5vw;
}
#moonBody {
  font-family: sans-serif;
  font-size: 1.5vw;
}

.catharsisImg {
  display: flex;
  width: 70vw;
}
#catharsisTextContainer {
  width: 26vw;
  margin-left: 72vw;
  margin-top: -80vh;
}
#catharsisHeader {
  font-family: 'leonardo';
  font-size: 4vw;
}
#catharsisLanguage {
  font-family: sans-serif;
  font-size: 2vw;
}
#catharsisBody {
  text-align: justify;
  font-family: sans-serif;
  font-size: 1.5vw;
}
h1 {
  font-family: 'leonardo';
  font-size: 10em;
  display: flex;
  align-content: center;
  justify-content: center;
}
