* {
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: 'leonardo';
  src: url('Leonardo.ttf');
}
.homeButton {
  position: fixed;
  display: flex;
}
#colorTextContainer {
  width: 45vw;
  margin-top: 5vw;
  display: flex;
  flex-wrap: wrap;
  margin-left: 7vw;
}
#colorHeader {
  font-family: 'leonardo';
  font-size: 6vw;
}
#colorLanguage {
  font-family: sans-serif;
  font-size: 1.5vw;
}
#colorBody {
  font-family: sans-serif;
  font-size: 1.5vw;
  text-align: justify;
}
.arrowdownAlignment {
  display: flex;
  margin-left: 70vw;
  margin-right: 30vw;
  margin-top: -20vh;
  margin-bottom: 30vh;
  width: 10vw;
}
.imgContainer {
  margin-left: 20vw;
  margin-right: 20vw;
  width: 60vw;
}
