* {
  padding: 0px;
  box-sizing: border-box;
}
.buttonBoxDesign {
  background-color: red;
  opacity: 100%;
  border-radius: 6px;
  cursor: pointer;
  height: 25vh;
  width: 15vw;
  margin-left: 10vw;
  left: 0px;
  top: 0px;
  z-index:2;
}
.buttonBoxgorl {
  background-color: pink;
  opacity: 100%;
  border-radius: 6px;
  cursor: pointer;
  height: 25vh;
  width: 15vw;
  margin-left: 40vw;
  left: 0px;
  top: 0px;
  z-index:2;
}
